albumentations==1.3.1
imutils==0.5.4
lxml==4.9.2
matplotlib==3.7.1
numpy==1.24.4
opencv_python==4.7.0.72
pandas==2.0.3
Pillow==9.5.0
PyQt5==5.15.9
PyQt5_sip==12.12.1
tqdm==4.65.0
xlwt==1.3.0
requests==2.27.1
psutil==5.9.5
py_cpuinfo==9.0.0
easydict==1.10
seaborn==0.12.2
filterpy==1.4.5
ipython==8.12.2
dill==0.3.7