/MicrosoftVS/RemoteCtrl/.vs
/BS
/MicrosoftVS/RemoteCtrl/RemoteCtrl/RemoteCtrl.vcxproj.user
/MicrosoftVS/RemoteCtrl/RemoteClient/RemoteClient.vcxproj.user
/MicrosoftVS/RemoteCtrl/RemoteClient/x64/Debug
/MicrosoftVS/RemoteCtrl/RemoteCtrl/x64/Debug
/MicrosoftVS/simplechatServer/simplechatServer/obj/x64/Debug
/MicrosoftVS/VSMySQL/VSMySQL/x64/Debug
/MicrosoftVS/VSMySQL/VSMySQL/VSMySQL.vcxproj.user
/MicrosoftVS/ydlHstring/ydlHstring/x64/Debug
/MicrosoftVS/ydlHstring/ydyHstring/x64/Debug
/MicrosoftVS/ydlHstring/ydlHstring.vcxproj.user
/MicrosoftVS/simplechatServer/simplechatServer/simplechatServer.vcxproj.user
/MicrosoftVS/RemoteCtrl/x64/Debug
/MicrosoftVS/simplechatServer/simplechatServer/bin/x64/Debug
